@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">VOTE FOR MASWI</h1>
    <a href="https://github.com/mrblack360" target="_blank">
    <img src="Maswi.jpeg" alt="Maswi"/>
    </a>
</div>
